aiohttp
beautifulsoup4
fsspec
huggingface-hub
Jinja2
joblib
langchain-core
langchain-huggingface
langchain-openai
langchain-pinecone
langsmith
nltk
numpy
openai
pillow
pinecone
python-dotenv
PyYAML
regex
requests
scikit-learn
scipy
sentence-transformers
tiktoken
tokenizers
torch>=2.0
tqdm
transformers
ijson
langchain
async-timeout==4.0.3
rank_bm25
streamlit
